[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/srv/jupyter/launch.sh
User=sirfuser
Group=sirfuser
WorkingDirectory=/home/sirfuser/devel/SIRF-Exercises
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target
